[Desktop Entry]
Type=Application
Version=1.0
Name=Exit Desktop
Comment=Close desktop apps and return to ROCKNIX
Exec=/usr/local/bin/rocknix-return
Icon=system-log-out
Terminal=false
Categories=System;
