[Desktop Entry]
Type=Application
Version=1.0
Name=Return to EmulationStation
Comment=Close Desktop Mode and return to ROCKNIX
Exec=/usr/local/bin/rocknix-return
Icon=system-log-out
Terminal=false
Categories=System;
